@import 'backgrounds.scss';
@import 'hovers.scss';
@import 'mixins.scss';

// Global SCSS
html {

}

p {
  margin: 0;
}

// Navbar SCSS
.navbar {
  position: fixed;
  width: 300px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 100;
  transition: all .3s ease;
}

#internal-menu {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding: 0px 20px 0px 60px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  margin-top: 40px;
}

#internal-menu p {
  color: #ffffff;
  padding-bottom: 19px;
  opacity: 0.8;
  transition: 0.5s;
}

#internal-menu a {
  text-decoration: none;
}

.nav-resize {
  position: absolute;
  right: 0px;
  bottom: 20%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #E3872D;
  display: inline-block;
  text-decoration: none;
  transition: all .3s ease;
}

.angle-left {
  color: white;
  transform: rotate(0deg);
  position: absolute;
  left: 6px;
  transition: all .3s ease;
}

// Home SCSS

#home {
  margin-left: 298px;
  height: auto;
}

#top-section {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}

#header-wrap {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  margin-bottom: 30px;
  box-sizing: border-box;
}

#box-wrap {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
  box-sizing: border-box;
}

#bg-wrap {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  background-image: url("../assets/images/scottish-mountain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(1.5px) grayscale(20%);
}

.darken-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#content {
  height: 100vh;
  width: 100%;
  clear: both;
  float: left;
  position: relative;
  z-index: 25;
  box-sizing: border-box;
}

#inner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  text-align: center;
  width: 100%;
  padding: 0px 20px;
  box-sizing: border-box;
}

#image-wrap {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-bottom: 38px;
  z-index: 1;
  img {
    border-radius: 100%;
    border: 8px solid rgba(255,255,255,.5);
    vertical-align: middle;
    max-width: 200px;
  }
}

#name-holder {
  h3 {
    font-family: "Montserrat";
    text-transform: uppercase;
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
  }
}

// About Section

#about-me {
  margin-bottom: 100px;
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  text-align: left;
  h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -3px;
    padding-left: 40px;
    line-height: 1;
    font-family: "Montserrat";
  }
}

#about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    max-width: 300px;
    padding-right: 40px;
    @include mmQ(1030px) {
      display: none;
    }
  }
  p {
    max-width: 400px;
    margin-right: 25px;
  }
}

#about-text-section {
  padding-left: 40px;
  a {
    margin-top: 20px;
    text-decoration: none;
    color: white;
    background-color: #2ad545;
    font-weight: 600;
    font-family: "Montserrat";
    padding: 12px 35px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: none;
  }
}

// Portfolio Section

#portfolio-wrap {
  height: auto;
  width: 100%;
  clear: both;
  float: left;
  padding-top: 25px;
  padding-bottom: 70px;
  background-color: #f6f7fd;
  box-sizing: border-box;
  text-align: center;
}

#portfolio {
  width: 100%;
  height: auto;
  float: left;
  text-align: left;
  clear: both;
  padding-bottom: 25px;
  position: relative;
  box-sizing: border-box;
  h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -3px;
    padding-left: 40px;
    line-height: 1;
    font-family: "Montserrat";
  }
}

#portfolio-list {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  box-sizing: border-box;
  ul {
    margin: 0px 0px 0px -30px;
    list-style-type: none;
  }
  li {
    margin: 0px 0px 30px 0px;
    float: left;
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}

.inner-list {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 3px;
}

.image-wrap {
  position: relative;
  img {
    display: block;
    vertical-align: middle;
    width: 100%;
  }
}

.definitions-wrap {
  padding: 40px 30px 47px 30px;
}

.date-wrap {
  margin-bottom: 10px;
  text-align: left;
  p {
    color: #333;
    font-family: "Montserrat";
    font-weight: 600;
  }
}

.title-holder {
  margin-bottom: 18px;
  h3 {
    color: #fff;
    line-height: 1.4;
    font-weight: 600;
    font-family: "Montserrat";
    font-size: 30px;
  }
  a {
    text-decoration: none;
    color: #041230;
    font-size: 22px;
    display: block;
    transition: all .3s ease;
    border: none;
  }
}

.definition {
  margin-bottom: 26px;
  text-align: left;
  p {
    color: #333;
  }
}

.read-more {
  text-align: left;
  a {
    text-decoration: none;
    color: #fff;
    background-color: #2ad545;
    font-weight: 600;
    font-family: "Montserrat";
    padding: 12px 35px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: none;
  }
  span {
    position: relative;
    z-index: 2;
  }
}

#third-piece {
  margin-top: -6vh;
}

.footer-section {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  text-align: left;
  background-color: #041230;
  padding: 50px 0px;
  box-sizing: border-box;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 0px 40px;
  position: relative;
  clear: both;
  box-sizing: border-box;
  p {
    color: #fff;
  }
}

// Contact Section CSS

.contact {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  box-sizing: border-box;
}

.contact-title {
  padding-bottom: 25px;
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  text-align: left;
  position: relative;
  box-sizing: border-box;
  h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -3px;
    padding-left: 40px;
    line-height: 1;
    font-family: "Montserrat";
  }
  span {
    font-size: 16px;
    font-family: "Montserrat";
    padding-left: 25px;
  }
}

.contact-wrapper {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  background-color: #fff;
  box-sizing: border-box;
}

.box-section {
  width: 100%;
  margin-bottom: 20px;
  height: auto;
  float: left;
  box-sizing: border-box;
}

.short-info {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  box-sizing: border-box;
  ul {
    margin: 0px;
    list-style-type: none;
  }
  li {
    margin: 0px 0px 15px 0px;
  }
  label {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 16px;
    color: #000;
  }
  span {
    padding-left: 5px;
    color: #000;
  }
  a {
    text-decoration: none;

  }
}
