@import 'backgrounds.scss';
@import 'hovers.scss';
@import 'mixins.scss';

// Global SCSS
p {
  margin: 0;
}

// Navbar SCSS
.navbar {
  position: fixed;
  width: 300px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 100;
  transition: all .3s ease;
}

#internal-menu {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding: 0px 20px 0px 60px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  margin-top: 40px;
}

#internal-menu p {
  color: #ffffff;
  padding-bottom: 19px;
  opacity: 0.8;
  transition: 0.5s;
}

#internal-menu a {
  text-decoration: none;
}

.nav-resize {
  position: absolute;
  right: 0px;
  bottom: 20%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #E3872D;
  display: inline-block;
  text-decoration: none;
  transition: all .3s ease;
}

.angle-left {
  color: white;
  transform: rotate(0deg);
  position: absolute;
  left: 6px;
  transition: all .3s ease;
}

// Home SCSS

#home {
  margin-left: 300px;
  width: 100%;
  height: auto;
}

#top-section {
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 2;
  text-align: center;
  img {
    border-radius: 100%;
    border: 8px solid rgba(255,255,255,.5);
    vertical-align: middle;
    max-width: 200px;
  }
}

// Flip on Hover

.flippy-flop:hover {
	-webkit-animation: flippy-flop 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: flippy-flop 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  transition: all .5s ease;
}

@-webkit-keyframes flippy-flop {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg);
            transform: translateY(-100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}

@keyframes flippy-flop {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg);
            transform: translateY(-100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}
